<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../app-estacion/static/css/detalle.css">
	<title>detalle</title>
</head>
<body>
	
	<div id="chipid" style="display: none;">{{CHIPID}}</div>
	<div class="todo">
		<div id="botones">
			
				<div class="clima-apodo">
					
				</div>

				<div class="clima-ubicacion">
					
				</div>
				<!-- 
				<div class="clima-visitas">
					
				</div> -->

		</div>
	</div>

		


<script type="text/javascript" src="../js/detallesClima.js"></script>
</body>
</html>