<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../app-estacion/static/css/estaciones.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	
	<title>panel</title>
</head>
<body>
	<div class="estaciones">
	<div id="list-estacion">
		<h3>Estaciones</h3>
	</div>


	<div id="botones">
		
		<template id="boton-clima">
			<a href="" class="btn-clima">
				<div class="clima-apodo">
					
				</div>


				<div class="clima-ubicacion">
					
				</div>
				<div class="vis">
					<div class="clima-visitas">
					
					</div>
				</div>
				
			</a>
		</template>

	</div>


</div>
	<script type="text/javascript" src="../app-estacion/js/clima.js"></script>
</body>
</html>