<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../app-estacion/static/css/css.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Recovery</title>
</head>
<body>

    <h1>recovery</h1>
    <form action="" method="POST">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Ingrese su email" required>
        <br>
        <input type="submit" name="btn_submit" value="Recuperar" id="btnSubmit">
    </form>
    
    
    
    {{MSG}}
    

</body>
</html>
